body {
  background-color: hsl(260, 7%, 9%);
}

h1,
h2 {
  color: hsl(271, 76%, 53%);
}

h3 {
  color: hsl(0, 0%, 100%);
}

header {
  background-color: hsl(216, 8%, 13%);
}

.check_svg {
  border: none;
  background-color: hsl(120deg 82% 38%);
}

.check_svg:hover {
  background-color: hsl(120, 29%, 62%);
}

.change_svg {
  border: none;
}

.change_svg:hover,
.change_svg svg :hover {
  background-color: hsl(0, 1%, 35%);
  fill: hsl(208, 100%, 97%);
}

.delete_svg {
  border: none;
  background-color: hsl(0, 55%, 48%);
}

.delete_svg:hover {
  background-color: hsl(0, 43%, 56%);
}

.left-box {
  display: flex;
  padding: 1rem;
  gap: 4rem;
}

.left-box,
.space_add,
.space_done,
.space_header {
  max-width: 90rem;
  margin: 0 auto;
}

.tittle_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.side {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  gap: 1rem;
}

.side a {
  text-decoration: none;
  text-align: center;
}

.output,
.output_add {
  padding: 0;
}

.output li,
.output_add li {
  display: flex;
  padding: 0.375rem;
}

.output button svg,
.output_add button svg {
  width: 1rem;
}

.result {
  background-color: hsl(0, 0%, 100%);
  padding: 0.1875rem;
  width: 100%;
  height: 1.8125rem;
}

.add {
  display: flex;
}

.add button svg {
  width: 1rem;
}

.space_add {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo_title a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo_title img {
  width: 2rem;
  height: 2rem;
}

form {
  display: contents;
}

.logout,
.categories {
  border: none;
  background: hsl(259, 56%, 50%);
  padding: 0.25rem 0.5rem;
  color: hsl(0, 0%, 100%);
  border-radius: 1rem;
}

.logout:hover,
.categories:hover {
  background: hsl(259, 51%, 56%);
}

.space_side {
  border-right: 0.0625rem solid hsl(0, 0%, 100%);
  padding-right: 2rem;
  height: 100vh;
}

.todo_add_dones {
  width: 100vh;
}

form,
input {
  width: 100%;
}

body .auth-container {
  margin: 25%;
}

.auth-container {
  box-sizing: border-box;
  width: 25rem;
  margin: 0 auto;

  padding: 1.875rem;
  border: 0.0625rem solid hsl(0, 0%, 100%);
}

.auth-container h4 {
  margin: 0 0 1.25rem 0;
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.auth-container form {
  width: 100%;
}

.auth-container form .input-container + .input-container {
  margin-top: 0.625rem;
}

.auth-container form .input-container label {
  display: block;
  color: hsl(0, 0%, 100%);
}

.auth-container form .input-container .error {
  color: hsl(0, 100%, 50%);
  font-size: 0.8rem;
}

.auth-container .footer-container {
  display: flex;
  margin-top: 2.5rem;
  justify-content: flex-end;
}

.auth-container .footer-container .btn + .btn {
  margin-left: 0.625rem;
}

.auth-container p a {
  color: hsl(0, 0%, 100%);
}

.form-errors {
  list-style: none;
  padding: 0;
}

.form-errors li {
  color: hsl(0, 0%, 100%);
  background-color: rgb(180, 179, 179);
  padding: 0.125rem 0.3125rem;
  text-align: center;
  margin: 0.625rem 0;
}

.email {
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 1rem 0;
}
