<header>
    {{> header}}
</header>
  <div class="email">
   <p>welkom {{user.email}}</p> 
  </div>
<div class="left-box">
    {{> nav}}
  <div class="todo_add_dones">
    <div class="space_add">
        {{> writeHere}}
      <div class="added">
        
        {{> output_add}}
        
      </div>
    </div>
    <div class="space_done">
      {{> output}}
    </div>
  </div>
</div>

