<div class="tittle_button">
  <div class="logo_title">
    <a href="/">
      <img src="../img/logo.png" alt="logo" />
      <h1>Just do it!</h1>
    </a>
  </div>
  <form action="/logout" method="post">
    <button type="submit" class="logout">Logout</button>
  </form>
</div>