<div class="space_header">
  <div class="tittle_button">
    <div class="logo_title">
      <img src="../img/logo.png" alt="logo" />
      <h1>Just do it!</h1>
    </div>
    <button class="logout">Logout</button>
  </div>
</div>