<div class="space_header">
  <div class="tittle_button">
    {{#with header}}
      <div class="logo_title">
        <img src="{{image}}" alt="{{name}}" />
        <h1>{{title}}</h1>
      </div>
      <button class="logout">{{button}}</button>
    {{/with}}
  </div>
</div>