{{#each add}}
  <h2>{{title}}</h2>
  <div class="add">
    <form>
      <input type="search" placeholder="{{placeholder}}" />
    </form>
    <button class="plus_svg">
      <img src="{{svg}}" alt="{{svgName}}" />
    </button>
  </div>
{{/each}}